/* You can add global styles to this file, and also import other style files */

.info {
    margin-bottom: 5px;
    padding: 5px 10px;
    font-weight: bold;
    border-left: 1px solid lightskyblue;
    border-right: 1px solid lightskyblue;
    border-top: 1px solid lightskyblue;
}
